@page "/notifications"

<MudContainer MaxWidth="MaxWidth.Large" Style="margin-top:55px">

    <!-- Container for the buttons -->
    <MudContainer Class="Frame_25_6009_1274" MaxWidth="MaxWidth.False" Style="box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);height: 100%; margin-top:15px">
        <MudGrid>
            <!-- Row for the two buttons -->
            <MudItem xs="12">
                <MudGrid Class="d-flex justify-content-between">
                    <MudItem xs="12" sm="6" Class="d-flex justify-content-start">

                        <MudButton Class="Frame_23_6009_1275 " OnClick="OpenCustomerDialog">
                            <img src="./Images/User _ User_Add.svg" alt="Dashboard Icon" style="width: 29px; height: 29px;margin-right: 8px" />
                            Add New Customer
                        </MudButton>
                    </MudItem>
                    <MudItem xs="12" sm="6" Class="d-flex " style="align-items: center;justify-content: end;">

                        <MudButton Class="Frame_24_6009_1278" OnClick="OpenEmployeeDialog">
                            <img src="./Images/User _ User_Add _2.svg" alt="Dashboard Icon" style="width: 29px; height: 29px;margin-right: 8px" />

                            Add New Employee
                        </MudButton>
                    </MudItem>
                </MudGrid>
            </MudItem>
        </MudGrid>
    </MudContainer>

   

    <!-- Placeholder paper -->
    <MudContainer Class="Frame_44_6009_1292" MaxWidth="MaxWidth.False" Style="box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);margin-top:16px;height: 100%;">
        <MudGrid Frame_44_6009_1292>
            <!-- Row for the two buttons -->
            <MudItem xs="12" Class="Frame_44_6009_1292_2">
                <MudGrid Class="d-flex justify-content-between " Style="padding-top:10px">
                    <MudItem xs="12" sm="6" Class="d-flex justify-content-start">
                        <span class="custom-svg">
                            <img src="./Images/Status _ Circle_Warning.svg" alt="Dashboard Icon" style="width: 29px; height: 29px;" />
                            <MudText Class="YouHaveANewServiceRequest_6009_1295">
                                You have a new service request
                            </MudText>

                        </span>
                    </MudItem>
                    <MudItem xs="12" sm="6" Class="d-flex " style="align-items: center;justify-content: end;">
                        <span class="custom-svg">
                            <img src="./Images/Show.svg" alt="Dashboard Icon" style="width: 29px; height: 29px;" />
                           
                            <a href="" target="_blank" Class="ViewHere_6009_1298">
                                View here
                            </a>
                        </span>
                    </MudItem>
                </MudGrid>
            </MudItem>
        </MudGrid>
    </MudContainer>
  
    <!-- Container for the 6 boxes -->
    <MudContainer Class=" Frame_22_6009_1301 " MaxWidth="MaxWidth.False" Style="box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);margin-top:16px;height: 100%;">
        <MudGrid>
            <!-- First Row of 3 Cards -->
           
            <MudItem xs="12" sm="6" md="4">
                <MudContainer Class="Frame_19_6009_1302" MaxWidth="MaxWidth.False" Style="box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);">



                    <MudGrid>
                        <MudItem xs="12" ms="12">
                            <div class="card-content">
                                <span class="custom-svg">
                                    <img src="./Images/UserGroup.svg" alt="Dashboard Icon" style="width: 49px; height: 49px;" />

                                </span>
                                <MudText Class="generated_20304_6009_1307">
                                    20304
                                </MudText>

                                <MudText Class="TextTotalNumbaer">
                                    Total Number of Customers
                                </MudText>

                                <div class="Line_1_6009_1332"></div>
                                <MudText Class="DashboardCardUpdatedDate">
                                    Updated: July 21, 2024
                                </MudText>
                            </div>
                        </MudItem>
                    </MudGrid>




                </MudContainer>
            </MudItem>




            <MudItem xs="12" sm="6" md="4">
               <MudContainer Class="Frame_17_6009_1312" MaxWidth="MaxWidth.False" Style="box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);">
                    <MudGrid>
                        <MudItem xs="12" ms="12">
                            <div class="card-content">
                                <span class="custom-svg">
                                    <img src="./Images/dashboard_users.svg" alt="Users Icon" style="width: 49px; height: 49px;" />
                                </span>
                                <MudText Class="generated_20304_6009_1307">
                                    20304
                                </MudText>

                                <MudText Class="TextTotalNumbaer">
                                    Total Number of Employees
                                </MudText>

                                <div class="Line_1_6009_1332"></div>
                                <MudText Class="DashboardCardUpdatedDate">
                                    Updated: July 21, 2024
                                </MudText>
                            </div>
                        </MudItem>
                    </MudGrid>
               </MudContainer>
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                <MudContainer Class="Frame_20_6009_1322" MaxWidth="MaxWidth.False" Style="box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);">
                    <MudGrid>
                        <MudItem xs="12" ms="12">
                            <div class="card-content">
                                <span class="dashboard-custom-svg">
                                    <img src="./Images/desktop_pendingtasks.svg" alt="Dashboard Icon" style="width: 49px; height: 49px;" />
                                    <img src="./Images/dashboard_pending.svg" alt="Dashboard Icon" style="width: 60px; height: 21px;" />

                                </span>
                                <MudText Class="generated_20304_6009_1307">
                                    20304
                                </MudText>

                                <MudText Class="TextTotalNumbaer">
                                    Pending Tasks
                                </MudText>

                                <div class="Line_1_6009_1332"></div>
                                <MudText Class="DashboardCardUpdatedDate">
                                    Updated: July 21, 2024
                                </MudText>
                            </div>
                        </MudItem>
                    </MudGrid>
                      </MudContainer>
            </MudItem>

            <!-- Second Row of 3 Cards -->
            <MudItem xs="12" sm="6" md="4">
               <MudContainer Class="Frame_24_6009_1376" MaxWidth="MaxWidth.False" Style="box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);">
                    <MudGrid>
                        <MudItem xs="12" ms="12">
                            <div class="card-content">
                                <span class="dashboard-custom-svg">
                                    <img src="./Images/desktop_ongoingtasks.svg" alt="Dashboard Icon" style="width: 49px; height: 49px;" />
                                    <img src="./Images/dashboard_ongoing.svg" alt="Dashboard Icon" style="width: 60px; height: 21px;" />

                                </span>
                                <MudText Class="generated_20304_6009_1307">
                                    20304
                                </MudText>

                                <MudText Class="TextTotalNumbaer">
                                    Ongoing Tasks
                                </MudText>

                                <div class="Line_1_6009_1332"></div>
                                <MudText Class="DashboardCardUpdatedDate">
                                    Updated: July 21, 2024
                                </MudText>
                            </div>
                        </MudItem>
                    </MudGrid>
               </MudContainer>
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
               <MudContainer Class="Frame_21_6009_1334" MaxWidth="MaxWidth.False" Style="box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);">
                    <MudGrid>
                        <MudItem xs="12" ms="12">
                            <div class="card-content">
                                <span class="dashboard-custom-svg">
                                    <img src="./Images/desktop_completedtasks.svg" alt="Dashboard Icon" style="width: 49px; height: 49px;" />
                                    <img src="./Images/dashboard_completed.svg" alt="Dashboard Icon" style="width: 73px; height: 21px;" />

                                </span>
                                <MudText Class="generated_20304_6009_1307">
                                    20304
                                </MudText>

                                <MudText Class="TextTotalNumbaer">
                                    Completed Tasks
                                </MudText>

                                <div class="Line_1_6009_1332"></div>
                                <MudText Class="DashboardCardUpdatedDate">
                                    Updated: July 21, 2024
                                </MudText>
                            </div>
                        </MudItem>
                    </MudGrid>
               </MudContainer>
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                <MudContainer Class="Frame_23_6009_1363" MaxWidth="MaxWidth.False" Style="box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);">
                    <MudGrid>
                        <MudItem xs="12" ms="12">
                            <div class="card-content">
                                <span class="dashboard-custom-svg">
                                    <img src="./Images/desktop_cancelledtasks.svg" alt="Dashboard Icon" style="width: 49px; height: 49px;" />
                                    <img src="./Images/dashboard_cancelled.svg" alt="Dashboard Icon" style="width: 68px; height: 21px;" />

                                </span>
                                <MudText Class="generated_20304_6009_1307">
                                    20304
                                </MudText>

                                <MudText Class="TextTotalNumbaer">
                                    Cancelled Tasks
                                </MudText>

                                <div class="Line_1_6009_1332"></div>
                                <MudText Class="DashboardCardUpdatedDate">
                                    Updated: July 21, 2024
                                </MudText>
                            </div>
                        </MudItem>
                    </MudGrid>
                </MudContainer>
            </MudItem>
        </MudGrid>
    </MudContainer>

</MudContainer>

@code{
    @inject IDialogService DialogService
    private void OpenEmployeeDialog()
    {
        DialogService.Show<AddEmployee>();
    }
    private void OpenCustomerDialog()
    {
        DialogService.Show<AddNewCustomer>();
    }
    }