@inherits LayoutComponentBase

@using FieldOpsAdmin.Services
<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<div Class="col-12">
    <br />
    <br />
    @Body
</div>

@code {

}
